appdirs==1.4.3
backports.shutil-get-terminal-size==1.0.0
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
decorator==4.0.11
Django==1.11.2
django-appconf==1.0.2
django-compressor==2.1.1
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-extensions==1.7.9
djangorestframework==3.6.3
enum34==1.1.6
idna==2.5
imageio==2.1.2
ipython==5.4.1
ipython-genutils==0.2.0
python-firebase==1.2
moviepy==0.2.3.2
numpy==1.13.1
olefile==0.44
packaging==16.8
pathlib2==2.2.1
pickleshare==0.7.4
Pillow==6.2.0
prompt-toolkit==1.0.14
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
python-magic==0.4.13
pytz==2017.2
rcssmin==1.0.6
requests==2.18.1
rjsmin==1.0.12
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.3
tqdm==4.11.2
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
win-unicode-console==0.5
gunicorn==19.7.1
